<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Videogame</title>
</head>
<body>
    <h1>Adicionar Videogame</h1>
    <form action="/adicionar_videogame" method="post">
        <label for="id_console">ID Console:</label>
        <input type="text" name="id_console" id="id_console"><br><br>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="id_company">ID Empresa:</label>
        <input type="text" name="id_company" id="id_company"><br><br>
        <label for="release_date">Data de Lançamento:</label>
        <input type="text" name="release_date" id="release_date"><br><br>
        <input type="submit" value="Adicionar">
    </form>
    <br>
    <a href="/listar_videogames">Voltar para a Lista de Videogames</a>
</body>
</html>
